
</body>
<footer id="footer">
<div class="container-fluid footerposition">
  <i class="fab fa-twitter sm-icon"></i>
  <i class="fab fa-facebook sm-icon"></i>
  <i class="fab fa-instagram sm-icon"></i>
  <i class="fas fa-envelope sm-icon"></i>
  <p class="footertext">© Copyright 2021 JSSATEB</p>
</div>
</footer>

</html>
