<%- include('partials/header1')%>


<nav class="navbar navbar-expand-lg navbar-light top">
  <img class="img title-image logo" src="/images/logo.jpg" alt="Logo">
  <h1 class="stockName">Stock Verification System</h1>
</nav>

<div class="row mid">
  <div class="col-lg-6 AdminI">
    <img class="img title-image AdminSize" src="/images/Admin2.jpg" alt="Logo">
  </div>
  <div class="col-lg-6 OthersI">
    <img class="img title-image OthersSize" src="/images/others5.jpg" alt="Logo">
  </div>

  <div class="col-lg-6 Admin">
      <a class="btn btn-primary AdminB" href="/adminlogin" role="button">Admin Login</a>
  </div>

  <div class="col-lg-6 Others">
      <a class="btn btn-primary OthersB" href="/others" role="button">Others</a>
  </div>

  <div class="col-lg-6 AdminSignUp">
      <a class="btn btn-primary" href="/adminsignup" role="button">Admin signUp</a>
  </div>
</div>


<%- include('partials/footer1')%>
