<%- include('partials/header1')%>

<div class="filter">
  <a href="/labEqipdetails"><i class="fas fa-angle-double-left">Go Back</i></a>
</div>
<div class="lab_listing_header">
  <h1>Lab OverView</h1>
</div>
<div class="lab">
  <table class=" table-striped labtable">
    <thead class="thead-dark">
      <tr>
        <th class="th2" scope="col">Item Name</th>
        <th class="th2" scope="col">Working</th>
        <th class="th2" scope="col">Repair</th>
        <th class="th2" scope="col">Scrap</th>
      </tr>
    </thead>
    <tbody>
      <%laboverlist.forEach(labequip =>{%>
      <tr>
        <th class="td2" scope="row"><%= labequip %></th>
        <td class="td2">15</td>
        <td class="td2">10</td>
        <td class="td2">5</td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>








<%- include('partials/footer1')%>
