<%- include('partials/header1')%>

<div class="filter">
  <a href="/others"><i class="fas fa-angle-double-left">Go Back</i></a>
</div>
<div class="lab_listing_header">
  <h1>Class OverView</h1>
</div>
<div class="lab">
  <table class=" table-striped labtable">
    <thead class="thead-dark">
      <tr>
        <th class="th2" scope="col">Item Name</th>
        <th class="th2" scope="col">Working</th>
        <th class="th2" scope="col">Repair</th>
        <th class="th2" scope="col">Scrap</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td2">Projectors</td>
        <td class="td2">25</td>
        <td class="td2">8</td>
        <td class="td2">2</td>
      </tr>
    </tbody>
  </table>
</div>






<%- include('partials/footer1')%>
